PORT=5000
MONGODB_URI=mongodb://rishiruthick_db_user:SkillPathTest2026@ac-upjrwzu-shard-00-00.cphwj6y.mongodb.net:27017,ac-upjrwzu-shard-00-01.cphwj6y.mongodb.net:27017,ac-upjrwzu-shard-00-02.cphwj6y.mongodb.net:27017/skillpath?ssl=true&replicaSet=atlas-zkvzg7-shard-0&authSource=admin&appName=SkillPathCluster
JWT_SECRET=EEPU_RISHI_RUTHICK_secret
CLIENT_URL=http://localhost:5173